.grid {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  height: 100%;

  @include breakpoint("tablet") {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 2fr;
  }

  &__header {
    align-items: flex-start;
    display: flex;
    grid-column: span 4;
    height: 100%;
    position: relative;
    width: 100%;

    @include breakpoint("tablet") {
      justify-content: space-between;
      margin-bottom: 0;
      text-align: right;
    }
  }

  &__main {
    grid-column: span 4;
  }
}
