.grid {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;

  height: 100vh;

  // TODO: Create a mixin or define breakpoints elsewhere
  @media only screen and (max-width: 1224px) {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);
  }

  &__column {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    &:first-child {
      background: $background-aside;
    }

    &:last-child {
      background: $background-main;
    }
  }
}
