// Color variables
$color-background: #f7f7f7;
$color-typography: #3422b2;
$color-highlight: #e2e0f2;

// Typography size variables
$typography-base: 8px;
$typography-h1: $typography-base * 7;
$typography-h2: $typography-base * 6;
$typography-h3: $typography-base * 5;
$typography-h4: $typography-base * 4;
$typography-h5: $typography-base * 3;
$typography-h6: $typography-base * 2;
